{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/qs.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    
    {% block head %}
        
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Colegio</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'jornada:list' %}">Jornadas<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'grado:list' %}">Grados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'curso:list' %}">Curso</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'horario:list' %}">Horarios</a>
            </li>    
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}

    {% block vue %}
    {% endblock %}
</div>
</body